<mat-sidenav-container class="sidenav-container">

  <!-- SIDENAV: Menú móvil -->
  <mat-sidenav
    #sidenav
    mode="over"
    class="mobile-menu"
  >
    <button mat-button routerLink="/home">Inicio</button>
    <button mat-button routerLink="/register">Registrarse</button>
    <button mat-button routerLink="/login">Iniciar sesión</button>
  </mat-sidenav>

  <!-- CONTENIDO -->
  <mat-sidenav-content>

    <mat-toolbar color="primary" class="toolbar">
      <img src="img/lacardioo.svg" alt="Logo" class="logo-img" />

      <span class="spacer"></span>

      <!-- ESCRITORIO -->
      <div class="menu-desktop">
        <button mat-button routerLink="/home">Inicio</button>
        <button mat-button routerLink="/register">Registrarse</button>
        <button mat-button routerLink="/login">Administrador</button>
      </div>

      <!-- MÓVIL -->
      <button
        mat-icon-button
        class="menu-mobile"
        (click)="sidenav.toggle()"
      >
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Donde se carga tu componente -->
    <ng-content></ng-content>

  </mat-sidenav-content>
</mat-sidenav-container>
