
<div class="banner">
  <h1>En el hospital que cuida tu corazón</h1>
  <p>Con excelencia y humanidad, siempre puedes confiar</p>
  <!-- <button mat-raised-button color="accent">Agendar Cita</button>-->
</div>

<div class="servicios-section">
  <h2>Servicios Principales</h2>

  <div class="cards">
    <mat-card *ngFor="let s of servicios">
      <mat-card-header>
        <mat-icon>{{ s.icon }}</mat-icon>
        <mat-card-title>{{ s.title }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        {{ s.desc }}
      </mat-card-content>
    </mat-card>
  </div>
</div>

<footer class="footer">
  <div class="footer-content">

    <div class="footer-section">
      <img src="/img/lacardioblanco.png" alt="La Cardio Logo" class="footer-logo" />
      <p>Fundación Cardioinfantil · LaCardio</p>
      <p>Salvando corazones desde 1973.</p>
    </div>

    <div class="footer-section">
      <h4>Contacto</h4>
      <p>📍 Calle 163A # 13B - 60 · Bogotá, Colombia</p>
      <p>📞 (601) 667 2727</p>
      <p>✉️ info@lacardio.org</p>
    </div>

    <div class="footer-section">
      <h4>Enlaces</h4>
      <ul>
        <li><a href="#">Inicio</a></li>
        <li><a href="#">Servicios</a></li>
        <li><a href="#">Agendar cita</a></li>
        <li><a href="#">Urgencias</a></li>
      </ul>
    </div>
  </div>

  <div class="footer-copy">
    © 2025 Fundación Cardioinfantil · Todos los derechos reservados
  </div>
</footer>
